.Landing {
    background-image: url(../img/download\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    overflow: hidden; /* Prevent scrolling */
  }
  
  .btns{
    display: flex;
    margin: 10px 0 0 250px;
  }
  #bottone5{
    background-color: transparent;
    height:45px;
    width:140px;
    margin-right: 10px;
    padding:10px 14px;
    
  }
  #bottone5:hover{
    background-color: black;
    color: white;
  }
  
  .heading{
    font-family: 'BehanceFont', sans-serif;
    font-size: 80px;
    margin: 180px 0 0 250px;
  }
  .tagline{
    font-family: 'BehanceFont', sans-serif;
    margin: 0 0 0 250px;
    color:rgb(49, 48, 48);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  footer{
    height:30px;
    width:100%;
    background-color: black;
    color:white;
    padding:5px 0 0 0;
    margin-top: 165px;
  }
  .marquee{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .footer-content{
    letter-spacing: 0.2em;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
  }
  @keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  #logo{
    margin:20px 0 0 30px;
    width:140px;
    height: 30px;
  }
  .main{
    display: flex;
  }
  .side {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .side img {
    height: 550px;
    width: 400px;
    margin-left: 100px;
    margin-top: 144px;
    position:absolute;
  }
  h3{
    margin:30px 0 0 670px;
  }
  a{
    color:black;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    border:1px solid black;
    padding:8px 15px;
  }