.Signup{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw; 
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url(../img/loginBackground.jpg);
    /* background: linear-gradient(to bottom, #A1989Dff,#E0D3CBff,#A1989Dff); */
}
.main{
    width:400px;
    height:500px;
    overflow:hidden;
    border-radius: 10px;
    background: url(../img/loginBack.jpg) no-repeat center / cover;
    box-shadow: 5px 20px 50px #000;
}

#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height:100%;
}
label{
    color:#6D7275ff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width:60%;
    height:20px;
    background: #D0CDCDff;
    justify-content: center;
    display: flex;
    margin:20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width:60%;
    height:40px;
    margin:10px auto;
    justify-content: center;;
    display: block;
    color:#fff;
    background: #6D7275ff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #8a8686d8;
}
.login{
    height:460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform:translateY(-180px);
    transition: .8 ease-in-out;
}
.login label{
    color:#A1989Dff;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform:scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}