* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background: #D0CDCD;
    height: 100vh;
    position: relative;
}
.MainLayout {
    padding: 2rem;
    height: 100%;
    display: flex;
    gap: 2rem;
}
.main{
    flex:1;
    margin-top: 75px;
    background: rgba(252,246,249,0.78);
    height:600px;
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(4.5px);
    border-radius: 32px;
    overflow: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width:0;
    }
}
.InnerLayout{
    padding:2rem 1.5rem;
    width:100%;
}